.shop-item {
  display: grid;
  gap: 1.6em;
  font-size: 1rem;

  &__brand {
    font-size: 1.5em;
    font-weight: 600;
  }

  &__title {
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__description {
    font-size: 1.5em;
    color: #8d8d8d;
    text-transform: uppercase;
  }

  &__description-full {
    font-size: 1.2em;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    font-size: 1.5em;
    font-weight: 600;
  }

  &__divider {
    height: 1px;
    background-color: #414141;
  }

  @media (max-width: 500px) {
    font-size: 0.8em;
  }

  @media (max-width: 375px) {
    font-size: 0.6em;
  }
}
