.good-card {
  font-size: 1rem;
  padding: 1em;

  background-color: #2d2d2d;
  border-radius: 0.5em;

  &__img {
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 0.5em;
  }

  &__color {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    margin-top: 0.3rem;

    &-block {
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;

    margin-top: 1rem;
  }

  &__price {
    font-weight: 400;
  }
}
