.toolbar {
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__button {
    padding: 8px 16px;

    background-color: transparent;
    border: 1px solid #414141;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;

    cursor: pointer;
    transition: all 0.3s ease;

    &:not(&--active):hover {
      background-color: #414141;
    }

    &--active {
      background-color: #646cff;
      border-color: #646cff;
      color: #ffffff;
      cursor: default;
    }
  }
}
